.popup__name {
    margin: 0;
    margin-left: 36px;
    margin-bottom: 8px;
    max-width: 358px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

@media screen and (max-width: 1280px) {
    .popup__name {
        max-width: calc((100vw - 320px)/(1280 - 320)*(358 - 238) + 238px);
        margin-left: calc((100vw - 320px)/(1280 - 320)*(36 - 22) + 22px);
    }
}

@media screen and (max-width: 320px) {
    .popup__name {
        max-width: 238px;
        margin-left: 22px;
    }
}