.footer {
    max-width: 100%;
    margin: 0 200px 60px 200px;
}

@media screen and (max-width: 1280px) {
    .footer {
        margin-bottom: calc((100vw - 320px)/(1280 - 320)*(60 - 36) + 36px);
        margin-left: calc((100vw - 320px)/(1280 - 320)*(200 - 19) + 19px);
        margin-right: calc((100vw - 320px)/(1280 - 320)*(200 - 19) + 19px);
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin-bottom: 36px;
        margin-left: 19px;
        margin-right: 19px;
    }
}